#The API version you want to use: set this to `2023-12-01-preview` for the released version.
OPENAI_API_VERSION=2024-07-01-preview
# The base URL for your Azure OpenAI resource.  You can find this in the Azure portal under your Azure OpenAI resource.
AZURE_OPENAI_ENDPOINT=
# The API key for your Azure OpenAI resource.  You can find this in the Azure portal under your Azure OpenAI resource.
AZURE_OPENAI_API_KEY=

#Neo4j
NEO4J_URL=bolt://localhost:7687
NEO4J_USER=neo4j
NEO4J_PASSWORD=secretgraph

#Agent - Memory
MEMORY_MAX_MESSAGES=4

# FastAPI Key
ASSISTANT_API_KEY=0ad2f890-9408-429a-bdcc-116276cb8476